<div class="cart-container cart-border">
    <div class="cart-contents">
        <div class="cart-icon-container">
            <i class="fas fa-shopping-cart cart-icon"></i>
        </div>
        <div class="cart-info-container">
            <div class="cart-info-line-item">
                <span>{{ cartService.totalQuantity }} item{{ cartService.totalQuantity === 1 ? '' : 's' }}</span>
                <span>(<a href="javascript:;" (click)="cartService.emptyCart()">empty</a>)</span>
            </div>
            <div class="cart-info-line-item">
                <span>Total with GST:</span>
                <span>${{ cartService.total }}</span>
            </div>
            <div class="cart-info-line-item">
                <a href="javascript:;" (click)="viewItems()">View Your Items</a>
                <a href="javascript:;" (click)="checkout()">Checkout</a>
            </div>
        </div>
    </div>
</div>
