@import '../../../styles.scss';

.cart-container {
    height: 100%;
    color: $textColor;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-border {
    border: 1px solid $primaryColor;
    border-radius: 5px;
}

.cart-contents {
    margin: auto;
    font-size: 10pt;

    display: flex;
    flex-direction: row;
}

.cart-icon-container {
    margin-right: 5px;
}

.cart-info-container {
    margin-left: 5px;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-icon {
    font-size: 48pt;
    color: $primaryColor;
}

.cart-info-line-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: $primaryColor;
}