<div class="cart-container cart-border">
    <div class="cart-contents">
        <div class="cart-icon-container">
            <i class="fas fa-shopping-cart cart-icon"></i>
        </div>
        <div class="cart-info-container">
            <div class="cart-info-line-item">
                <span>{{ itemQuantity }} item{{ itemQuantity === 1 ? '' : 's' }}</span>
                <span>(empty)</span>
            </div>
            <div class="cart-info-line-item">
                <span>Total:</span>
                <span>${{ total }}</span>
            </div>
            <div class="cart-info-line-item">
                <span>View Your Items</span>
                <span>Checkout</span>
            </div>
        </div>
    </div>
</div>
