.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
}

app-cart {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}