@import '../../styles.scss';

$lighterGrey: #333;

.catalog-container {
    margin: 20px 50px;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    color: $textColor;
}

.header {
    width: 99%;
    padding: 5px;
    border-radius: 5px;
    background-color: $lighterGrey;
    margin: auto;
    font-size: 18pt;
}

.table-container {
    width: 100%;

    table {
        width: 100%;
    }
    
    .mat-row {
        height: 65px;
    }
    
    .mat-row:nth-child(odd) {
        background-color: $lighterGrey;
    }
    
    .mat-header-cell {
        border-bottom-style: none;
    }

    .mat-cell {
        padding: 5px;
        border-bottom-style: none;
    }
    
    .thumb {
        width: 50px;
    }
    
    img {
        transition: width 0;
    
        &:hover {
            position: absolute;
            z-index: 100;
            width: 300px;
            border: 1px solid black;
            box-shadow: 5px 5px 10px grey;
    
            transition: width .2s linear;
        }
    }
}

